<IfModule mod_rewrite.c>

    RewriteEngine On

    RewriteCond %{REQUEST_URI} !index\.php   [NC]
    RewriteRule ^([^/]+)/([^/]+)/?$ index.php?module=$1&method=$2 [L,NC]

    RewriteCond %{REQUEST_URI} !index\.php   [NC]
    RewriteRule ^([^/]+)/?$ index.php?module=$1&method= [L,NC]

</IfModule>